.rightfixed{
    width: 66px;
    height: 460px;
    position: fixed;
    z-index: 10000;
    right: 2px;
    top:320px;
    .carousel2 {
        width: 100%;
        height: 100%;
    }
    .rightfixed-content{
        width: 98%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 1%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .right-item{
            margin-bottom: 2px;
            width: 60px;
            height: 64px;
            cursor: pointer;
            background-repeat: no-repeat;
            .carousel-img {
                width: 100%;
                height: 100%;
            }
        }
        .item1{
            background: url(../../../assets/hall/icon_jy_01.png);
            background-repeat: no-repeat;
        }
        .item2{
            background: url(../../../assets/hall/icon_CS_01.png);
            background-repeat: no-repeat;
        }
        .item2:hover{
            background: url(../../../assets/hall/icon_CS_02.png);
            background-repeat: no-repeat;
        }

        .item3{
            background: url(../../../assets/hall/icon_llq_01.png);
            background-repeat: no-repeat;
        }
        .item3:hover{
            background: url(../../../assets/hall/icon_llq_02.png);
            background-repeat: no-repeat;
        }

        .item4{
            background: url(../../../assets/hall/icon_help_01.png);
            background-repeat: no-repeat;
        }
        .item4:hover{
            background: url(../../../assets/hall/icon_help_02.png);
            background-repeat: no-repeat;
        }

        .item5{
            background: url(../../../assets/hall/icon_recharge_01.png);
            background-repeat: no-repeat;
        }
        .item5:hover{
            background: url(../../../assets/hall/icon_recharge_02.png);
            background-repeat: no-repeat;
        }

        .item6{
            background: url(../../../assets/hall/icon_app_01.png);
            background-repeat: no-repeat;
        }
        .item6:hover{
            background: url(../../../assets/hall/icon_app_02.png);
            background-repeat: no-repeat;
        }
        .item7{
            margin:10px;
            width: 40px;
            height: 30px;
            cursor: pointer;
            background: url(../../../assets/hall/icon_top_01.png);
            background-repeat: no-repeat;
        }
        .item7:hover{
            background: url(../../../assets/hall/icon_top_02.png);
            background-repeat: no-repeat;
        }
        
    }
    
}