.footer {
    height: 200px;
    bottom: 0;
    width: 100%;
    min-width: 1500px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    .footer-bottom{
        width: 1200px;
        height: 40%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        .footer-logo{
            height: 100%;
        }
        .footer-font{
            margin-left: 50px;
        }
    }
}