.bottom {

    margin:25px auto;
    margin-bottom: 30px;
    width: 1040px;
    height: 80vh * 0.13;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;

    background: url(../../../assets/hall/new_icon.24b9ee21.png);
    background-position: center;
    background-size: cover;
    position: relative;
    .down-word {

        width: 100%;
        text-align: center;
        color: rgb(183, 163, 102);
        font-size: 13px;
        font-weight: 600;
        padding-top: 10px;
        position: absolute;
        left: 0;
        bottom: -10px;
    }
}