.content {
    width: 100%;
    height: 100%;

    background: url(../../../assets/hall/beijibg1-2-min.jpg);
    background-position: center;
    background-size: cover;

    position: relative;
    .innerContent{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-direction: column;
        height: 100%;
        width: 1040px;
        margin: 0 auto;
        position: relative;
        .top {
            width: 100%;
            height: 54px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            .title {
                margin-left: 10px;
                color: rgb(24, 102, 151);
                height: 100%;
                font-weight: 500;
                line-height: 30px;
                width:100%;
            }
        }
    
        .browser {
            position: absolute;
            left: 0;
            top: 0;
    
            .browser-img {
                width: 80%;
            }
    
        }
    
        .middle {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: row;
            width: 100%;
            height: 382px;
            .left-tip{
                width: 69px;
                height: 106px;
            }
            .game-scroll{
                width: 880px;
                height: 404px;
                overflow: hidden;
                >.game-list{
                    height: 100%;
                    position: relative;
                    left:0;
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                    align-items: center;
                    justify-content: flex-start;
                    >div {
                        width:270px;
                        height: 193px;
                        margin-right: 17px;
                        margin-left: 10px;
                        margin-top: 5px;
                        margin-bottom: 4px;
                        >.game {
                            width: 100%;
                            height: 100%;
                            
                        }
                        >.lockMoney{
                            width: 60%;
                            height: 15%;
                            position: relative;
                            border: 1px solid red;
                            top: -20%;
                            left: 20%;
                        }
                       
                    }
                }
            }
            .right-tip{
                width: 69px;
                height: 106px;
            }
            .normal-game {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
    
                .game-tips {
                    width: 95%;
                    height: 40px;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    margin-top: 10px;
    
                    .normal-game-icon-left {
                        height: 50%;
                    }
    
                    .normal-game-icon-right {
                        height: 100%;
                    }
                }
    
                >.game-list {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
    
                    >div {
                        width: calc(100%/3);
    
                        >.game {
                            width: 100%;
                        }
                    }
                }
            }
    
            .source-game {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
    
                .game-tips {
                    width: 95%;
                    height: 40px;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    margin-top: 10px;
    
                    .normal-game-icon-left {
                        height: 50%;
                    }
    
                    .normal-game-icon-right {
                        height: 100%;
                    }
                }
    
                >.game-list {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    flex-wrap: wrap;
    
                    >div {
                        width: calc(100%/3);
    
                        >.game {
                            width: 100%;
                        }
                    }
                }
            }
    
            .source-show {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                overflow: hidden;
    
                .game-tips {
                    width: 95%;
                    height: 40px;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    margin-top: 10px;
    
                    .normal-game-icon-left {
                        height: 50%;
                    }
    
                    .normal-game-icon-right {
                        height: 100%;
                    }
                }
    
                >.game-list {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
    
                    >div {
                        width: 100%;
    
                        >.game {
                            width: calc(60vw/5);
                        }
                    }
                }
            }
        }
    }
   
}

.position-bottom {
    position: absolute;
    top: -15px;
    right: -15px;
    border-radius: 20px;
    width: 40px;
    height: 40px;
    background:url(../../../assets/game/but_close.png);
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 10000;
}