.history-content{
    width: 100%;
    height: 100%;
    top: 0;
    .history-body{
        height: 100vh*1.60;
        width: 100%;
        position: absolute;
        top: 100px;
        min-width: 1500px;
        display: flex;
        justify-content: center;
        min-height:1300px; 
        .body-content{
            width: 1100px;
            height: 100%;
            position: relative;
            background: white;
            margin-top: 158px;
            .content-box3{
                width: 94%;
                height: 80%;
                margin: 0 auto;
               
                .content-box3-title{
                    width: 100%;
                    height: 6%;
                    margin-top: 2%;
                    background: #f4f4f4;
                    border: 1px solid #e3e3e3;
                    box-sizing: border-box;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    font-size: 20px;
                    span{
                        text-align: center;
                    }
                    :nth-child(1){
                        width: 20%;
                    }
                    :nth-child(2){
                        width: 75%;
                    }
                }
                .content-box3-list{
                    display: flex;
                    align-items: center;
                    width: 98%;
                    margin-left: 1%;
                    height: 11%;
                    border-bottom: 1px solid #e3e3e3;
                    :nth-child(1){
                        width: 20%;
                        text-align: center;
                    }
                    :nth-child(2){
                        height: 95%;
                        width: 75%;
                        ul{
                            list-style: none;
                            width: 100%;
                            height: 100%;
                            display: flex;
                            flex-wrap: wrap;
                            li{
                                width: 5%;
                                height: 33%;
                                background-repeat:no-repeat; background-size:100% 100%;-moz-background-size:100%  100%;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                font-size: 15px;
                                font-weight: bold;
                                text-shadow: 1px 2px 0px black;
                                color: white;
                                span{
                                    width: 80%;
                                    height: 65%;
                                    margin-right: 3px;
                                }
                            }
                        }
                    }
                    .content-box3-list-child3{
                        width:7.5%;
                        height: 80%;
                        background-size: contain;
                        background-repeat: no-repeat;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 20px;
                        font-weight: bold;
                        text-shadow: 1px 2px 0px black;
                        color: white;
                        margin-left: 11%;
                        span{
                            margin-right: 15%;
                        }
                    }
                }
                .content-box3-list:nth-child(11){
                    border: 0px;
                }
                .content-box3-page{
                    width: 100%;
                    display: flex;
                    font-size: 20px;
                    height: 40px;
                    align-items: center;
                    justify-content: center;
                    position: absolute;
                    bottom: 0px;
                    left: 0;
                    margin: 0;
                    .pageUp{
                        display: inline-block;
                        width: 30px;
                        height: 30px;
                    }
                    .minPage{
                        display: inline-block;
                        width: 50px;
                        height: 30px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                    .maxPage{
                         display: inline-block;
                         width: 50px;
                         height: 30px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                    .pageDown{
                        display: inline-block;
                        width: 30px;
                        height: 30px;
                    }
                }
            }
           
        }
        .body-left{
            width: 200px;
            height: 100%;
            margin-right: 10px;
            .left-icon{
                width: 100%;
                margin-top: 50px;
            }
            .left-tip{
                width: 100%;
                background: white;
                height: 60px;
                margin-top: 37px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 20px;
                cursor: pointer;
                .jiantou{
                    width: 20px;
                    height: 20px;
                    background: url(../../../assets//Index/arrow_Right.png);
                    background-repeat: no-repeat;
                    background-position: 50%;
                } 
            }
            .left-tip:hover{
                color: rgb(113, 180, 6);
                .jiantou{
                    width: 20px;
                    height: 20px;
                    background: url(../../../assets//Index/arrow_Right2.png);
                    background-repeat: no-repeat;
                    background-position: 50%;
                }
            }
            .left-paper1{
                width: 100%;
                background: white;
                margin-top: 20px;
                height: 400px;
                display: flex;
                justify-content: center;
                align-items: center;
                .paper-icon{
                    width: 90%;
                }
            }
        }
        .body-right{
            width: 200px;
            height: 100%;
            margin-left: 10px;
            .right-paper1{
                width: 100%;
                background: white;
                margin-top: 158px;
                height: 350px;
                display: flex;
                justify-content: center;
                align-items: center;
                .paper-icon{
                    width: 90%;
                }
            }
        }
    }
}