.news-header {
    width: 100%;
    position: relative;
    font-family: "Microsoft YaHei";
}
.news-body {
    width: 120%;
    height: 130%;
    padding: 0;
    position: absolute;
    left: -10%;
    top: -15%;
    margin: 0;
    border: none;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    font-family: "Microsoft YaHei";
    .news-title{
        height: 5.5%;
        width: 7%;
        margin-top: 6%;
    }
    .news-content{
        margin-top:4%;
        width: 75%;
        height:65%;
        overflow-y: hidden;
        font-size: 12px;
        justify-content: center;
        align-items: center;
        position: relative;
        flex-direction: column;
        position: relative;
        >.middle {
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            >.box {
                width: 100%;
                height: 100%;
                padding: 0.5rem 0.5rem 0.5rem 0.5rem;
                overflow-y: auto;
                overflow-x: hidden;
                color: black;
                font-family: "Microsoft YaHei";
                >.scroll {
                    width: 100%;
                    height: auto;
                    >.list {
                        height: 30px;
                        width: 100%;
                        overflow: hidden;
                        margin-bottom: 2px;
                        >.title {

                            height: 30px;
                            width: 100%;
                            line-height: 15px;
                            font-weight: 900;
                            font-size: 20px;
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;
                            >.icon {
                                width: 8%;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                height: 100%;
                                >img {
                                    width: 50%;
                                }
                            }
                            >pre {
                                width: 80%;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                                height: 100%;
                                display: inline-block;
                                line-height: 30px;
                                margin: 0;
                                padding: 0;
                            }
                        }
                        >.words {
                            border: 1px solid black;
                            padding: 1rem;
                            font-size: 13px;
                            >pre {
                                white-space: pre-wrap;
                            }
                        }
                    }
                }
            }
        }
    }
    .news-right{
        position: absolute;
        right: 30px;
        top: 90px;
        height: 400px;
        width: 50px;
        
        background: url(../../../assets/game/xialalan.png);
        background-size: contain;
        background-repeat: no-repeat;
    }
}
.news-bottom{
    position: absolute;
    top: -50px;
    right: -85px;
    width: 40px;
    height: 40px;
    background:url(../../../assets/game/but_close.png);
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 10000;
}

