@mixin flexrows {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flexcolumn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

$height:40px;

.user-tips {
    width: 100%;
    height: $height;
    background-color: rgb(31, 33, 27);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

    .left {
        width: 45%;
        height: $height;
        @include flexrows;

        .welcome {
            height: $height;
            width: 100%;
            @include flexrows;

            .word {
                height: $height;
                line-height: $height;
                text-align: center;
                margin: 0 5px;
            }

            .name {
                height: $height;
                line-height: $height;
                text-align: center;
                margin: 0 5px;
                text-decoration: underline;
                cursor: pointer;
            }

            .icon {
                margin: 0 10px;
            }

            .login-button {
                cursor: pointer;
                text-decoration: underline;
            }

            .quit {
                @include flexrows();
                margin-left: 30px;

                div {
                    margin: 0 2px;
                }

                .safe-quit {
                    text-decoration: underline;
                    cursor: pointer;
                }
            }
        }
    }

    .right {
        width: 45%;
        height: $height;
        @include flexrows;

        .balance {
            margin: 0 10px;
        }

        .refresh {
            margin: 0 10px;
            cursor: pointer;
        }

        .top-up {
            height: 22px;
            line-height: 20px;
            background-color: rgb(71, 160, 224);
            width: 40px;
            text-align: center;
            margin-left: 20px;
            margin-right: 3px;
            border: 1px solid white;
            border-radius: 5px;
            cursor: pointer;
        }

        .eye {
            cursor: pointer;
        }

        .top-down {
            height: 22px;
            line-height: 20px;
            background-color: rgb(124, 107, 92);
            width: 40px;
            text-align: center;
            margin-right: 20px;
            margin-left: 3px;
            border: 1px solid white;
            border-radius: 5px;
            cursor: pointer;
        }

        .services {
            margin: 0 10px;
            cursor: pointer;
        }
    }
}