.login-component {
    width: 480px;
    height: 430px;
    background-size: cover;
    background-position: center;
    position: relative;
    
    .brand {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 20%;

        .brand-img {
            width: 480px;
        }
    }
    .login-box {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        >div {

            background-color: rgb(46, 50, 89);
            border: 1px solid rgb(160, 138, 50);
            width: 480px;
            height: 100%;
            border-radius: 5px;
            .login-box-top {
                width: 478px;
                height: 30px;
                display: flex;
                justify-content: space-between;
                align-items: flex-start;

                .code-login {
                    width: 80px;
                    height: 100%;
                    line-height: 30px;
                    border-radius: 5px;
                    background-color: rgb(44, 104, 178);
                    text-align: center;
                    cursor: pointer;
                    color: white;
                }

                .services-online {
                    width: 80px;
                    height: 100%;
                    line-height: 30px;
                    border-radius: 5px;
                    background-color: rgb(44, 104, 178);
                    text-align: center;
                    cursor: pointer;
                    color: white;
                }
            }

            .login-box-middle {
                width: 480px;
                height: calc(100% - 30px);
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                .login-logo{
                    background: url(../../../assets/login/f2.png);
                    width: 260px;
                    height: 80px;
                    background-size: contain;
                    position: absolute;
                    top:30%;
                }
                .account,
                .password {
                    width: 80%;
                    background-color: rgb(221, 222, 223);
                    height: 40px;
                    border-radius: 5px;
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 5px 0;


                    .left-title {
                        position: absolute;
                        left: 0;
                        width: 50px;
                        margin-left: 20px;
                        font-size: 14px;
                        font-weight: 900;
                        height: 25px;
                    }

                    .account-img,
                    .password-img {
                        position: absolute;
                        left: 0;
                        width: 50px;
                        margin-left: 20px;
                    }

                    .account-input,
                    .password-input {
                        width: 100%;
                        height: 40px;
                        text-indent: 80px;
                        line-height: 40px;
                        font-size: 14px;
                        font-weight: 0;
                        background-color: rgb(221, 222, 223);
                        border: none;
                        border-radius: 5px;
                    }
                }

                .remember-me {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 80%;

                    .checkbox {
                        color: rgb(202, 206, 221);
                    }

                    .forget-password {
                        color: rgb(202, 206, 221);
                    }
                }

                .login-sumbit {
                    margin-top: 5px;
                    width: 80%;
                    height: 40px;
                    background-color: rgb(174, 147, 75);
                    border-radius: 5px;
                    font-size: 22px;
                    font-weight: 0;
                    text-align: center;
                    line-height: 40px;
                    color: #222;
                    cursor: pointer;
                    background:rgb(174, 147, 75) url(../../../assets/login/txt_signIn.png)  no-repeat;
                    background-position: 50%;
                }
            }

            .regin-box-middle {
                width: 500px;
                height: calc(100% - 30px);
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;

                .account,
                .nick,
                .password {
                    width: 80%;
                    background-color: rgb(221, 222, 223);
                    height: 40px;
                    border-radius: 5px;
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 5px 0;

                    .left-title {
                        position: absolute;
                        left: 0;
                        width: 50px;
                        margin-left: 20px;
                        font-size: 14px;
                        font-weight: 900;
                    }

                    .account-img,
                    .password-img {
                        position: absolute;
                        left: 0;
                        width: 50px;
                        margin-left: 20px;
                    }

                    .account-input,
                    .nick-input,
                    .password-input {
                        width: 100%;
                        height: 40px;
                        text-indent: 80px;
                        line-height: 40px;
                        font-size: 14px;
                        font-weight: 0;
                        background-color: rgb(221, 222, 223);
                        border: none;
                        border-radius: 5px;
                    }
                }

                .regin-sumbit {
                    margin-top: 5px;
                    width: 80%;
                    height: 40px;
                    background-color: rgb(174, 147, 75);
                    border-radius: 5px;
                    font-size: 22px;
                    font-weight: 0;
                    text-align: center;
                    line-height: 40px;
                    color: #222;
                    cursor: pointer;
                }
            }
        }
    }

    .show {
        width: 100%;
        height: 17%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;

        >div {
            width: 80%;
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .show-box {
                width: 18%;
                height: 100%;
                border: 1px solid rgb(160, 138, 50);
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;

                .show-icon {
                    height: 40%;
                }

                .show-word-up {
                    color: rgb(232, 240, 242);
                }

                .show-word-down {
                    color: rgb(120, 125, 136);
                }
            }
        }
    }
}