.banner {
    width: 100%;
    min-width: 1920px;
    height: 440px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    .carousel {
        height: 435px;
        width: 30000px;
        position: absolute;
        left: 0;
        top: 0;
        .carousel-img {
            // float: left;
            // min-width: 2500px;
            // height: 100%;
        }
    }
    
    .left-icon {
        position: absolute;
        left: 0;
        bottom: 3vw;
        display: flex;
        justify-content: center;
        align-items: flex-end;

        .left-img {
            width: 250px;
            // height: 50%;
        }

        .word {
            color: white;
            font-size: 1.5rem;
            font-weight: 900;
            margin-bottom: 3vw;
        }
    }

    .left-btn {
        position: absolute;
        width: 70px;
        height: 70px;
        left: 6%;
        top: 35%;
    }

    .left-btn :hover{
        opacity: 0.8;
        cursor: pointer;
    }
    .right-btn {
        position: absolute;
        width: 70px;
        height: 70px;
        right: 6%;
        top: 35%;
    }
    .right-btn :hover{
        opacity: 0.8;
        cursor: pointer;
    }
    
    .bottom-icon {
        position: absolute;
        left: 0;
        width: 100%;
        // height: 80px;
        // display: none;
        bottom: 0px;
        .bottim-img {
            width: 100%;
            // height: 80px;
        }
    }
}