.notice {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    >div {
        height: 60%;
        width: 96%;
        position: relative; // height: inherit;
        >.notice-right-bg {
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
        }
        >.notice-left-bg {
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
        }
        >.tip {
            width: 100%;
            color: white;
            font-size: 0.7rem;
            text-indent: 1vw;
            position: absolute;
            overflow-x: hidden;
            line-height: 0.7rem;
            height: 100%;
            left: 1%;
            >.slider {
                height: 100%;
                display: flex;
                align-items: center;
                >div {
                    position: absolute;
                    white-space: nowrap;
                    display: inline-block;
                    font-size: 20px;
                }
            }
        }
    }
}